<%- model_class = Ad -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <small><%= link_to "New", new_ad_path, class: "btn btn-primary" %></small>

    <form action="/ads/search" class="form-search pull-right">
      <input type="text" class="input-medium search-query" name="keyword" prompt="请输入活动名">
      <button type="submit" class="btn">Search</button>
    </form>
  </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ID) %></th>
      <th><%= model_class.human_attribute_name(:NAME) %></th>
      <th><%= model_class.human_attribute_name(:DESCP) %></th>
      <th class="span2"></th>
    </tr>
  </thead>
  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.ID %></td>
        <td><%= ad.NAME %></td>
        <td><%= ad.DESCP %></td>
        <td>
          <%= link_to "详情", ad, :class => 'btn' %>
          <%= link_to "复制", copy_ad_path(ad), :class => 'btn' %>
          <%= link_to "用户参与记录", ad_ad_user_records_path(ad), :class => 'btn btn-info' %>

          <% if ad.cps? %>
            <%= link_to "CPS Feedback", ad_ad_feedbacks_path(ad), :class => 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @ads %>