<%= simple_form_for [@ad, @ad_feedback], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :ID %>
  <%= f.input :BRANCH_ID %>
  <%= f.input :AD_ID %>
  <%= f.input :FEED_TIME %>
  <%= f.input :JOIN_USERID %>
  <%= f.input :OTHER_USERID %>
  <%= f.input :COMM %>
  <%= f.input :TOTAL_PRICE %>
  <%= f.input :OUT_BIZNO %>
  <%= f.input :PAY_MODE %>
  <%= f.input :ORDER_STATUS %>
  <%= f.input :PAY_STATUS %>
  <%= f.input :CONFIRMD %>
  <%= f.input :REMARK %>
  <%= f.input :INSERT_TIME %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ad_ad_feedbacks_path(@ad), :class => 'btn' %>
  </div>
<% end %>
