<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :USER_ID %>
  <%= f.input :NAME %>
  <%= f.input :LOGIN_ID %>
  <%= f.input :PASSWORD %>
  <%= f.input :EMAIL %>
  <%= f.input :COOKIE_GUID %>
  <%= f.input :PUBLISHER_TYPE_CODE %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
