<%- model_class = AdUserRecord -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_ad_ad_user_record_path(@ad),
            :class => 'btn' %>
    <%= link_to "Back", @ad, :class => 'btn' %>


  </h1>
</div>

<form action="<%= search_ad_ad_user_records_path(@ad) %>" class="form-search">
  <textarea name="user_ids" cols="100" rows="10" class="input-xxlarge"></textarea>
  <button type="submit" class="btn btn-large btn-info">Search</button>
</form>

Total count: <span class="badge badge-important"><%= @ad_user_records.count %></span>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ID) %></th>
      <th><%= model_class.human_attribute_name(:USER_ID) %></th>
    </tr>
  </thead>
  <tbody>
    <% @ad_user_records.each do |user_id, id| %>
      <tr>
        <td><%= id %></td>
        <td><%= user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

