<%- model_class = AdUserRecord -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_ad_ad_user_record_path(@ad),
            :class => 'btn' %>
    <%= link_to "Back", ad_ad_user_records_path(@ad), :class => 'btn' %>


  </h1>
</div>

<div class="row">
记录数: <span class="badge badge-important"><%= @ad_user_records.count %></span>
已获得奖励的用户数: <span class="badge badge-important"><%= @has_get_points_record_count %></span>


<%= link_to "给下面用户列表发积分", @send_points_url, class: "btn btn-danger", target: "_blank" %>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ID) %></th>
      <th><%= model_class.human_attribute_name(:USER_ID) %></th>
    </tr>
  </thead>
  <tbody>
    <% @ad_user_records.each do |user_id, id| %>
      <tr>
        <td><%= id %></td>
        <td><%= user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @ad_user_records %>